<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS :has OS Dock with CSS Trigonometric Functions 🤙</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <h2>
    <center>Motor DC</center>
  </h2>
  <div>
    <img class="img" src="{{url_for('static', filename='motor_dc.jpeg')}}" />
    <div>
      
    </div>
  </div>
  <nav class="blocks">
    <a href="/motor-dc" class="block" id="sairReadme">
      <div class="block__item">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
        </svg>
      </div>
    </a>
  </nav>
  <!-- partial -->

</body>

</html>