<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="js/func.js"></script>
</head>

<body>
  <h3>Our Flask Buttons
    <!-- <form method="post" action="/"> -->
    <form method="post" action="/motor-dc">
      <input type="submit" value="VALUE1" name="enable"/>
      <input type="submit" value="VALUE2" name="action2" />
    </form>
  </h3>

  <h3>Mais botões!
    <form method="post" action="/">
      <input type="submit" value="VALUE1" name="action1" />
      <input type="submit" value="VALUE2" name="action2" />
    </form>
  </h3>
</body>

</html>